.content {
  padding: 20px;
}

.content-section {
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-title {
  text-align: left;
  color: var(--brown-color);
  font-size: 28px;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .content-section {
    display: block;
  }
}